#contenido{
  margin-left:200px ;
  margin-right:200px ;
}

/*Menú principal*/
#fondo-menu{
    /*background-color: #5EAE8F;*/
    background-color: #8970d2;
    
}
.navbar a{
  color: #e9e2e2;
}
#fondo-menu.navbar{
    margin: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  
}


.logo {
  max-width: 100px; /* Establece un ancho máximo para la imagen */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
}
/*Menú desplegable usuario*/
.user-container {
  display: flex;
  align-items: center;
}

.user-container img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
}

.user-dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  display: none;
}

.user-dropdown ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-dropdown li {
  margin: 0;
  padding: 5px 10px;
}

.user-dropdown li a {
  text-decoration: none;
  color: #000;
}

.user-dropdown li:hover {
  background-color: #f5f5f5;
}

.user-container:hover .user-dropdown {
  display: block;
}
 /*Submenu mascotas*/
 .submenu-mascotas{
  margin-bottom: 15px;
  font-size: larger;
  
 }
 /* .submenu-mascotas a{
  color: #00afa1;
 } */

 #refugioSwitch, #usuarioSwitch{
  background-color: #d97bb2;
 }

/*Barra de búsqueda*/
.search {
    width: 150px; /* ajusta el ancho según sea necesario */
    background: #95469c;
    background-image: linear-gradient(to bottom, #d75ad9, #b8279b);
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 8px 16px;
    border-radius: 25px;
    width: 250px;
}
.search:hover {
  background-image: linear-gradient(to bottom, #d97bb2, #ce1e91);
  cursor: pointer;
}

.search::-webkit-input-placeholder {
  /* Resalta el texto "Search" en el campo de entrada */
  color: #fff;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px #000;
}

.search::-moz-placeholder {
  /* Resalta el texto "Search" en el campo de entrada para Firefox */
  color: #fff;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px #000;
}

.search:-ms-input-placeholder {
  /* Resalta el texto "Search" en el campo de entrada para IE */
  color: #fff;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px #000;
}

.search:-moz-placeholder {
  /* Resalta el texto "Search" en el campo de entrada para versiones antiguas de Firefox */
  color: #fff;
  font-weight: bold;
  font-style: italic;
  text-shadow: 1px 1px #000;
}


#boton-busqueda {
  background-color: #D4ADFC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button.btn-primary {
  background-color: #fb9ee7;
  border-color: #fb9ee7;
  box-shadow: 2px 2px 5px #fb9ee7;
}

.boton-animales{
  background-color: #fb9ee7;
  border-color: #fb9ee7;
  box-shadow: 2px 2px 5px #fb9ee7;
}


/*Tarjetas animales*/
.card {
  height: 450px;
}

.card-img-top {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/*Menu mascotas*/

nav.menu-mascotas {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}





ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

a:hover {
  background-color: #fb9ee7;
  color: #fff;
}

/*Adopciones*/
.menus-contacto {
  max-width: 500px;
  margin: 0 auto;
  border: 2px solid #fb9ee7;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}




/*Formularios*/
.formulario_usuarios {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FFFFFF 0%, #D8D8D8 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  height: 100vh;
  width: 100vw;
  border: 2px solid #5EAE8F;
  border-radius: 10px;
  padding: 20px;
  
}
.formulario_usuarios h3{
  color: #5EAE8F;
}

/*Carrusel inicio*/
#carruselIni{
margin: 0 auto;
width: 100%;

}

.card>img{
  object-fit:cover;
}
  

/*Voluntariado*/

.voluntariado {
  
  background-size: cover;
  background-position: center;
  color: #333;
}

.voluntariado h2, .voluntariado h3 {
  color: #5EAE8F;
}

.voluntariado p {
  font-size: 20px;
  line-height: 1.5;
  color: #777;
}

.voluntariado ul {
  font-size: 18px;
  line-height: 2;
  color: #555;
}

.voluntariado ul li {
  padding-left: 20px;
  position: relative;
}

.voluntariado ul li:before {
  content: "\2022";
  position: absolute;
  left: 0;
  top: 0;
  color: #fb9ee7;
  font-size: 30px;
  line-height: 1;
}

.voluntariado a.btn-primary {
  background-color: #fb9ee7;
  border-color: #fb9ee7;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.voluntariado a.btn-primary:hover {
  background-color: #f39c12;
  border-color: #f39c12;
}



